#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣤⠤⡶⠲⠲⠖⠖⠖⠶⠤⢤⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡠⣤⣀⣤⣤⣶⣿⡟⢉⠉⡁⢐⣠⣤⣤⣄⡀⠠⠀⠀⠀⠉⠙⠲⢤⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢶⣿⣿⣿⣿⣿⠍⡐⠠⢁⠂⢰⣿⠿⢿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠑⠊⣝⢦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣿⣿⠿⣙⠢⠉⡄⠱⠀⢆⠀⡀⠀⠀⠀⠀⠈⠿⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠓⢌⢣⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣾⡿⣭⣳⠢⠡⠁⠈⡁⢎⡐⣂⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⣆⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣿⣿⢿⠋⡀⠀⠀⠀⠀⠰⣬⣾⡟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣎⢧⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣊⣔⣀⡀⠀⠀⠀⣿⣟⠡⡉⢀⠀⠀⠀⠀⠀⠀⠀⠈⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠾⣆⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⡿⢛⠛⢛⣿⣧⣄⣸⣿⣿⡿⠿⠿⠿⢿⣤⣤⣀⣀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠼⢻⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⣿⣿⡡⠀⢾⣿⣿⣾⣿⣿⢧⡐⡀⠀⠀⣾⣧⣿⣿⡏⠛⢦⡄⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡇⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣧⢿⣷⣄⠈⠻⠿⠟⣻⠻⣷⣲⢡⠀⠀⠻⢿⣿⠿⠃⢀⣼⠇⢐⠠⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣹⣷⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⣿⠉⠉⢷⡀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣻⣯⠻⢿⣿⣤⣴⡶⣟⢣⡽⢿⣧⣟⣤⡒⡤⢤⣤⣶⠿⠃⡐⢌⠠⠀⢂⠒⠠⠀⢂⠀⠀⠀⠌⣀⢻⣿⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⢻⡄⠀⠈⢯⡄⠀⠀⠀⠀⠀⠀⣿⣿⣯⢿⣿⣮⣝⢯⡹⡱⢎⢣⠛⡷⣭⣛⠿⠿⠿⠿⢛⢁⠢⡑⢨⠀⠆⡉⠤⡘⠄⠡⠀⢀⠐⢀⡘⢠⣿⡿⣤⡀⠀⠀⠀
#⠀⠀⣀⣀⣀⣀⣀⣤⣬⣿⣂⠀⠀⠙⣆⠀⠀⠀⠀⠀⢸⣿⣟⣯⡿⣽⣿⣎⠵⡱⢈⠂⢍⠰⡁⠙⠛⠶⢶⠌⠂⠄⡃⠄⠃⠘⡐⠌⠂⠐⠀⠂⠀⡀⢈⠠⣐⣷⠏⠀⠈⣷⠀⠀⠀
#⡶⠋⢣⡠⠀⣠⠀⠀⠀⠀⠉⠂⠀⠀⢸⡄⡀⠀⠀⠀⠀⣿⣿⣯⣟⣯⣟⣯⡳⣅⠣⠌⢀⠣⠀⠀⠀⠀⠀⠀⠀⢀⠁⠠⠁⠂⢀⠠⠀⠈⢀⠀⡁⠠⢀⣶⠟⠁⠀⢰⣿⠛⠀⠀⠀
#⣧⣤⡼⠥⠤⠓⠶⠒⠈⠉⠉⠒⠢⢄⡈⠛⣇⠀⠀⠀⠀⠘⣿⣾⣽⢯⡿⣽⣳⢮⣱⣎⣴⣨⣡⡄⡀⢀⣀⣀⣀⡀⠀⠀⠀⠀⠀⢀⠠⡐⢄⠒⠠⣵⡿⠇⢒⠲⣾⠛⠁⠀⠀⠀⠀
#⠹⢯⣤⣀⣤⣤⣤⣴⣦⣴⣤⣤⣀⣴⠄⣸⡿⠀⠀⠀⠀⠀⠹⣿⣿⣻⣽⣻⣟⣛⠛⡛⢛⠛⡛⠛⠛⠋⣉⣩⣥⡴⣖⠳⣎⠥⣍⢢⠱⣈⢦⣩⣿⢋⣤⡶⠖⡀⠉⣲⡦⢤⣀⣀⠀
#⠀⠈⠉⠉⠉⠉⠉⠀⠈⠉⠙⠛⠻⠿⡿⠋⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣯⣷⣿⣿⣷⣯⣦⣳⣴⣳⣮⣿⣿⢷⣧⣟⣼⡻⣬⢳⣎⢧⣻⣴⡿⠟⠛⣿⡏⣠⡼⣫⡾⠋⠰⣦⠀⠈⠑
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣯⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣽⡾⣽⢯⣟⣾⣻⣿⣿⣣⣶⣣⠍⠛⠿⣾⣏⠀⠀⠀⣼⣆⣀⡀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢷⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣟⣿⣿⣿⣿⣿⣿⣿⣽⣿⣿⣷⣿⣿⣯⡀⠀⢀⣿⠻⠿⠛⠛⠉⠁⠉⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⠿⠛⠉⠛⠛⠛⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⡠⠤⢤⡀⠉⢛⠿⠿⠿⢿⣿⣿⡿⠟⠛⠛⠋⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣾⣿⣷⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣻⣿⡇⠀⠀⠀⠀⣀⣀⣤⣴⣒⣀⣠⣀⣀⣰⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣤⣶⣿⣿⣿⣿⣿⡟⢣⡏⣿⡇⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⡟⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣶⣶⣯⣽⣼⣯⢭⡝⠛⡟⠡⢌⠣⠜⣿⣧⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⠿⡤⠉⡌⠓⠺⢦⡼⠖⣋⠔⣈⠢⢁⣿⠟⣧⣠⢤⣶⣿⣿⣿⣿⣿⡟⢣⠝⣷⢾⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⢿⠿⣶⣥⣤⣀⣄⠠⢌⣳⣬⡾⢾⢛⣩⣿⡿⡿⢿⠿⡿⣗⠺⡏⢙⡿⣄⠂⡜⠠⢮⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⢿⣷⣦⣄⣉⠉⠉⠙⠛⣉⣥⣶⣾⣿⣿⡿⣵⢫⣃⢎⡐⡉⠛⠿⣉⠳⡌⢷⣄⠓⣼⡾⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⠛⠛⠻⠟⠛⠋⠀⢾⣿⣟⠻⠿⢷⣼⣦⣴⣠⣍⣲⣥⣳⣼⡾⠟⠛⣉⣴⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠿⢿⣶⣢⣄⣀⣈⠉⢉⡙⢉⣡⣤⣶⡶⠿⠛⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
#⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠙⠛⠛⠓⠛⠛⠋⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
# It's 3 files, what's to ignore?
